---
layout: default
---

<h1 class="logo">{{ site.title }}</h1>
{% for post in site.posts limit:1 %}
<div class="feature blog-tile">
  <img src="{{ post.image }}" alt="">
  <div>
    <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    <div>{{ post.content | strip_html | truncatewords:100}}</div>
  </div>
</div>
{% endfor %}
<div class="tile-wrapper">
{% for post in site.posts offset:1 limit:4 %}
  <div class="blog-tile">
    <img src="{{ post.image }}" alt="">
    <div>
      <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
      <div>{{ post.content | strip_html | truncatewords:50}}</div>
    </div>
  </div>
{% endfor %}
</div>
